<p id="notice"><%= notice %></p>

<div class="container row mt-4" style="top: 90px">
  <h1 class="alert alert bg-warning text-dark col-md-7 " style="height: 80px"> <%= t('tasks.index_deadline.head') %> </h1>
  <% if user_signed_in? %>
    <%= link_to "#{t('.new_task')}", new_task_path, class: 'btn btn-success btn-lg col-md-3 ml-4 text-lg-center', style: 'height: 80px; width: 310px' %>
    <% activity_btn = '' %>
  <% else %>
    <p class="alert alert bg-dark text-warning col-md-7"><b><%= t('.login_to') %></b></p>
    <% activity_btn = 'disabled' %>
  <% end %>
</div>


<table class="table table-hover mb-4 col-md-10">
  <thead>
  <tr style = "background-color: rgba(255,192,45,1)">
    <th class="text-center">№</th>
    <th class="text-center"><%= t('.subj') %></th>
    <th class="text-center"><%= t('.hometask') %></th>
    <% if user_signed_in? && current_user.admin? %>
      <th class="text-center" scope="col"><%= t('.deadline') %></th>
    <%else%>
      <th class="text-center" colspan="2" scope="col"><%= t('.deadline') %></th>
    <%end%>
    <th colspan="3" class="text-center" scope="col"><%= t('.actions') %></th>
    <% if user_signed_in? && current_user.admin? %>
      <th class="text-center" scope="col"><%= t('.completed') %></th>
    <%end%>
  </tr>
  </thead>

  <tbody>

    <% num = 0 %>
    <% @uncompleted_tasks.each do |task| %>

      <% if (task.deadline - Date.today) <0 %>
        <% color = '#000000' %>
        <% days =  "#{t('.overdue', count: (task.deadline - Date.today).to_i.abs)}"%>
        <% stilyok = 'font-weight-bold' %>
      <% else %>
        <% days = "#{t('.days', count: (task.deadline - Date.today).to_i.abs)}" %>
        <% if (task.deadline - Date.today) <=3  %>
          <% color = '#b60800' %>
        <% else %>
          <% if (task.deadline - Date.today) <= 10 %>
            <% color = '#ff842b' %>
          <% else %>
            <% color = '#00b200' %>
          <% end %>
        <% end %>
      <% end %>

      <tr class="task">
        <td class="text-center"><p class="<%=stilyok%>" style="color:<%= color %>"><%= num += 1%></p></td>
        <td class="text-center"><p class="<%=stilyok%>" style="color:<%= color %>"><u><%= task.subj  %></u></p></td>
        <td class="text-center"><p class="<%=stilyok%>" style="color:<%= color %>"> <%= task.descript %></pre></td>
        <% if user_signed_in? && current_user.admin? %>
          <td class="text-center"><p class="<%=stilyok%>" style="color:<%= color %>"><%= task.deadline %></p></td>
        <%else%>
          <td class="text-center" colspan ='2'><p class="<%=stilyok%>" style="color:<%= color %>"><%= task.deadline %></p></td>
        <%end%>
        <td class="text-center"><%= link_to "#{t('.show')}", task, class: 'action btn btn-light btn-sm ml-3' %></td>
        <% if user_signed_in? && current_user.admin? || user_signed_in? && task.user.email == current_user.email%>
          <td class="text-center"><%= link_to "#{t('.edit')}", edit_task_path(task), class: "btn btn-outline-warning btn-sm #{activity_btn}" %></td>
          <td class="text-center"><%= link_to "#{t('.delete')}", task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm #{activity_btn}" %></td>
        <%else%>
          <td colspan="2" class="text-center"><%= "#{t('.not_your')}" %></td>
        <%end%>
        <% if user_signed_in? && current_user.admin? %>
          <td class="text-center"><%= link_to "#{t('.done')}", complete_in_deadline_task_path(task), data: {method: :put}, class: "btn btn-outline-info btn-sm ml-4 #{activity_btn}" %></td>
        <%end%>
      </tr>
    <% end %>

  </tbody>
</table>
